server:
  port: 0

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/${DB_SCHEMA}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: always #never 필요없으면 해당 never넣으면 됩니다~
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
          default_batch_fetch_size: 100
        order_inserts: true
        order_updates: true
  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 2000
            readTimeout: 3000
            loggerLevel: basic

  mail:
    host: smtp.gmail.com
    port: 587
    username: kkd06155@gmail.com
    password: qpdthnfnitrptrks
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  thymeleaf:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5000

logging:
  level:
    org.springframework.scheduling.annotation.AsyncAnnotationBeanPostProcessor: DEBUG
    com.sejong.newsletterservice.infrastructure.email: DEBUG

google:
  credentials:
    path: ./credentials.json


eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_DEFAULTZONE}

resilience4j:
  circuitbreaker:
    instances:
      myFeignClient:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

  timelimiter:
    instances:
      myFeignClient:
        timeoutDuration: 3s

management:
  server:
    port: 18085  #이거는 매트릭을 수집하기 위한 고정 포트다.
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
